* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main {
    background-color: brown;
    border-radius: 20px;
    border: 1px solid white;
    width: 70%;
    height: 500px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
body {
    height: 100vh;
    padding-top: 20px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.bot img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 90px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    border: 1px solid white;
}

.hasil {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 999px;
    border: 3px solid black;
}
.judul {
    gap: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kita {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kita img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 90px;
    border: 1px solid white;
    border-radius: 999px;
    aspect-ratio: 1/1;
}
.hasil-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.pilihanBot {
    display: none;
}
.kita img:hover {
    opacity: 0.5;
}
@media screen and (max-width: 768px) {
    .kita{
        justify-content: center;
        gap: 1rem;

    }
    .kita img {
        width: 70px;

    }
}
.popUp {
    background-color: chocolate;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    z-index: 999;
    position: absolute;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.popUp p, .secondPop p {
    font-size: 0.8rem;
    font-weight: 500;
}

.popUp button, .secondPop button{
    z-index: 999;
    width: 100px;
    border-radius: 999px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.popUp button:hover {
    filter: brightness(0.5);
}
.opacityBody {
    filter: brightness(0.1);
}
.secondPop {
    position: absolute;
    background-color: chocolate;
    display: none;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    z-index: 999;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#name {
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0;
    text-align: center;
}
.playerName {
    font-weight: bolder;
    display: flex;
    gap: 0.5rem;
}
.secondPop button:hover {
    filter: brightness(0.5);
}